.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

a {
  display: block;
  width: 30%;
  margin: 28px auto 0;
  color: #000;
  text-decoration: none;
}


a .image {
  height: 100px;
  overflow: hidden;
}

a .image img {
  width: 100%;
  height: auto;
  transition: .3s;
}

a:hover .image img {
  transform: scale(1.5);
}